@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #0a0c1c;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  width: 800px;
}

.container {
  background-color: #1b1937;
  display: flex;
  border-radius: 10px;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.desc {
  width: 300px;
}

.statsgen {
  display: flex;
  flex-direction: row;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

p {
  font-weight: 400;
  opacity: 75%;
  line-height: 25px;
}

.image {
  display: flex;
  background: center/cover url("55a75cf7eb85a83d75c5d213ff6dd625.png");
  width: 500%;
  background-color: #ab5cdb;
  background-blend-mode: multiply;
  border-radius: 0px 10px 10px 0px;
}

span {
  color: #ab5cdb;
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }
  .statsgen {
    display: flex;
    flex-direction: column-reverse;
  }
  .stats {
    margin: 0;
  }
}
